@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: GothamBold;
  src: url(fonts/GOTHAM-BOLD.TTF);
}

@font-face {
  font-family: GothamLight;
  src: url(fonts/GOTHAM-LIGHT.TTF);
}

/* TITLE(BANNER) */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
  margin-top: 5vh;
  border-bottom: 2px solid #9f9f9f;
  padding-bottom: 5vh;
}

.profile-image-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #84fab0;
  border-radius: 50%;
  border: 5px solid white;
  outline: 1px solid black;
  overflow: hidden;
}

.profile-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.title-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Anton", sans-serif;
}

.title-titles p {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}

.title-titles-name span {
  display: block;
  background: -webkit-linear-gradient(#84fab0, #8fd3f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-titles-job span {
  display: block;
  background: -webkit-linear-gradient(#fa709a, #fee140);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-line {
  width: 11px;
  height: 80px;
  background-color: black;
  margin: 0 1.5vw;
}
/* END OF TITLE(BANNER) */

/* GENERAL-INFO */
.general-info {
  display: flex;
  justify-content: center;
}

/* LEFT SECTION */

.section-left {
  padding-right: 1.5vw;
  padding-bottom: 77px;
  width: 227px;
}

.info-title {
  font-weight: bold;
  font-size: 20px;
  font-family: "Anton", sans-serif;
  padding-bottom: 1vh;
  border-bottom: 1px solid #9f9f9f;
}

.info-blocks-content,
.infobar-blocks-content {
  font-family: "GothamLight";
}

.info-blocks-title {
  font-family: "GothamBold";
  margin-bottom: 5px;
  font-size: 10px;
}

.info-blocks-content {
  font-size: 10px;
}

.info-blocks > div {
  border-bottom: 0.1px solid #9f9f9f;
  margin-top: 8px;
  padding-bottom: 5px;
}

.infobar-blocks > div {
  margin-top: 8px;
  padding-bottom: 5px;
}

.x-info {
  position: relative;
  margin-top: 4vh;
}

.x-info-link {
  text-decoration: none;
  color: black;
}

.infobar-blocks-bar {
  background: -webkit-linear-gradient(#84fab0, #8fd3f4);
  border-radius: 4px;
  height: 8px;
}

.infobar-blocks-bar:hover {
  background: none;
  background-color: #fee140;
}

.bar1 {
  width: 145px;
}

.bar2 {
  width: 120px;
}

.bar3 {
  width: 125px;
}

.bar4 {
  width: 136px;
}

.logo {
  margin-top: 3vh;
}
/* END OF LEFT SECTION */

/* RIGHT SECTION */
.info-profile-blocks > div {
  margin-top: 8px;
  padding-bottom: 5px;
}

/* STATISTICS */
.statistics {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  margin-top: 4vh;
}

.stat-circle {
  width: 70px;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-circle svg {
  position: absolute;
  width: 70px;
  height: 70px;
  transform: rotate(-90deg);
}

.stat-circle .bg-circle {
  fill: none;
  stroke: #9f9f9f;
  stroke-width: 6;
  opacity: 0.2;
}

.stat-circle .progress-circle {
  fill: none;
  stroke: url(#gradient);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dashoffset: 188.4;
  transition: stroke-dashoffset 1.1s ease-out;
}

.stat-circle.animate .progress-circle {
  animation: fillCircle 1.5s ease-out forwards;
}

.stat-circle .progress-circle {
  transition: stroke 1.1s ease, stroke-dashoffset 1.1s ease, transform 1.1s ease;
}

.stat-circle:hover .progress-circle {
  stroke: #fee140;
}

@keyframes fillCircle {
  from {
    stroke-dashoffset: 188.4;
  }
}

.stat-circle .stat-label {
  font-family: "Anton", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #292929;
  z-index: 1;
}
/* END OF STATISTICS */

/* WORK-INFO */
.work-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-top: 2.5vh;
}

.work-info-years {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.year-img {
  position: absolute;
  z-index: 0;
}

.year-1 {
  position: relative;
}

.year-1 p {
  position: relative;
  margin: auto;
  left: 10px;
  z-index: 1;
  color: white;
  font-family: "GothamBold";
  font-size: 12px;
  top: 2px;
}

.years {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.work-info-lines {
  display: flex;
  flex-direction: column;
  gap: 57px;
  width: 0.5px;
  background-color: #292929;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}

.work-info-lines-circle {
  width: 12px;
  height: 12px;
  background-color: #292929;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.work-info-works {
  display: flex;
  flex-direction: column;
  gap: 47px;
  margin-left: 10px;
}

.work-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.work-title {
  font-family: "GothamBold";
  font-size: 14px;
  color: #292929;
  text-transform: uppercase;
}

.work-company {
  font-family: "GothamLight";
  font-size: 10px;
  color: #292929;
  text-transform: uppercase;
}

/* END OF WORK-INFO */

/* EDU-INFO */
.edu-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-top: 2.5vh;
}

.edu-info-years {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.year-img {
  position: absolute;
  z-index: 0;
}

.year-1 {
  position: relative;
}

.year-1 p {
  position: relative;
  margin: auto;
  left: 10px;
  z-index: 1;
  color: white;
  font-family: "GothamBold";
  font-size: 12px;
  top: 2px;
}

.years {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.edu-info-lines {
  display: flex;
  flex-direction: column;
  gap: 57px;
  width: 0.5px;
  background-color: #292929;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}

.edu-info-lines-circle {
  width: 12px;
  height: 12px;
  background-color: #292929;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.edu-info-works {
  display: flex;
  flex-direction: column;
  gap: 47px;
  margin-left: 10px;
}

.edu-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.edu-title {
  font-family: "GothamBold";
  font-size: 14px;
  color: #292929;
  text-transform: uppercase;
}

.edu-company {
  font-family: "GothamLight";
  font-size: 10px;
  color: #292929;
  text-transform: uppercase;
}

/* END OF WORK-INFO */

.section-right {
  width: 368px;
  position: relative;
  border-left: 1px solid #9f9f9f;
  padding-left: 1.5vw;
}

/* END OF RIGHT-SECTION */

.shota {
  width: 148px;
  height: auto;
  overflow: hidden;
  position: absolute;
  right: -24%;
  bottom: 0;
}

/* Responsiveness */
@media screen and (max-width: 1024px) {
  .general-info {
    flex-wrap: wrap;
  }

  .title {
    gap: 3vw;
  }

  .title-titles p {
    font-size: 35px;
  }

  .section-left {
    width: 200px;
    padding-right: 2vw;
  }

  .section-right {
    width: 320px;
    padding-left: 2vw;
  }

  .shota {
    width: 130px;
    right: -20%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    flex-direction: column;
    gap: 2vh;
    padding-bottom: 3vh;
    margin-top: 3vh;
  }

  .title-titles {
    flex-direction: column;
  }

  .title-titles p {
    font-size: 28px;
    text-align: center;
  }

  .title-line {
    width: 80px;
    height: 8px;
    margin: 1vh 0;
  }

  .general-info {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .section-left {
    width: 100%;
    max-width: 500px;
    padding-right: 0;
    border-bottom: 2px solid #9f9f9f;
    padding-bottom: 4vh;
  }

  .section-right {
    width: 100%;
    max-width: 500px;
    border-left: none;
    padding-left: 0;
    padding-top: 4vh;
    overflow: visible;
  }

  .statistics {
    justify-content: center;
    flex-wrap: wrap;
  }

  .work-info,
  .edu-info {
    flex-direction: row;
    align-items: flex-start;
  }

  .work-info-years,
  .edu-info-years {
    flex-direction: row;
    gap: 30px;
  }

  .shota {
    display: none;
  }

  .logo {
    display: block;
    margin: 3vh auto 0;
  }
}

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .title {
    margin-top: 3vh;
    padding-bottom: 2vh;
    width: 100%;
  }

  .profile-image-bg,
  .profile-image {
    width: 70px;
    height: 70px;
  }

  .profile-image-bg {
    border: 3px solid white;
  }

  .title-titles p {
    font-size: 22px;
  }

  .title-line {
    width: 60px;
    height: 6px;
  }

  .general-info {
    padding: 0 15px;
    width: 100%;
  }

  .section-left,
  .section-right {
    max-width: 100%;
    width: 100%;
  }

  .info-title {
    font-size: 18px;
  }

  .x-info {
    margin-top: 3vh;
    width: 100%;
  }

  .statistics {
    gap: 8px;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
  }

  .stat-circle {
    flex: 0 0 calc(50% - 4px);
    margin-bottom: 10px;
  }

  .stat-circle,
  .stat-circle svg {
    width: 70px;
    height: 70px;
  }

  .stat-circle .stat-label {
    font-size: 12px;
  }

  .work-info,
  .edu-info {
    width: 100%;
    overflow-x: hidden;
  }

  .work-info-years,
  .edu-info-years {
    gap: 20px;
    flex-shrink: 0;
  }

  .year-img {
    width: 42px;
    height: 17px;
  }

  .year-1 p {
    font-size: 10px;
    left: 7px;
    top: 1px;
  }

  .years {
    gap: 42px;
  }

  .work-info-lines,
  .edu-info-lines {
    gap: 49px;
    padding: 3px 0;
    margin-left: 5px;
  }

  .work-info-lines-circle,
  .edu-info-lines-circle {
    width: 10px;
    height: 10px;
  }

  .work-info-works,
  .edu-info-works {
    gap: 39px;
    margin-left: 8px;
    flex: 1;
    min-width: 0;
  }

  .work-title,
  .edu-title {
    font-size: 12px;
  }

  .work-company,
  .edu-company {
    font-size: 9px;
  }

  .logo {
    width: 60px;
    height: auto;
  }

  .bar1 {
    width: 100%;
    max-width: 145px;
  }

  .bar2 {
    width: 100%;
    max-width: 120px;
  }

  .bar3 {
    width: 100%;
    max-width: 125px;
  }

  .bar4 {
    width: 100%;
    max-width: 136px;
  }

  .info-blocks {
    width: 100%;
  }

  .info-blocks-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

@media screen and (max-width: 360px) {
  .title-titles p {
    font-size: 18px;
  }

  .profile-image-bg,
  .profile-image {
    width: 60px;
    height: 60px;
  }

  .title-line {
    width: 50px;
    height: 5px;
  }

  .general-info {
    padding: 0 10px;
  }

  .info-title {
    font-size: 16px;
  }

  .info-blocks-title {
    font-size: 9px;
  }

  .info-blocks-content {
    font-size: 9px;
  }

  .stat-circle,
  .stat-circle svg {
    width: 55px;
    height: 55px;
  }

  .stat-circle .stat-label {
    font-size: 9px;
  }

  .statistics {
    gap: 6px;
    justify-content: space-around;
    padding: 0 2px;
  }

  .work-info-years,
  .edu-info-years {
    gap: 18px;
  }

  .years {
    gap: 40px;
  }

  .work-info-lines,
  .edu-info-lines {
    gap: 47px;
    margin-left: 5px;
  }

  .work-info-works,
  .edu-info-works {
    gap: 37px;
    margin-left: 5px;
  }

  .year-img {
    width: 38px;
    height: 15px;
  }

  .year-1 p {
    font-size: 8px;
    left: 6px;
  }

  .work-title,
  .edu-title {
    font-size: 11px;
  }

  .work-company,
  .edu-company {
    font-size: 8px;
  }

  .bar1 {
    max-width: 110px;
  }

  .bar2 {
    max-width: 95px;
  }

  .bar3 {
    max-width: 100px;
  }

  .bar4 {
    max-width: 105px;
  }
}

@media screen and (max-height: 600px) and (orientation: landscape) {
  .title {
    margin-top: 2vh;
    padding-bottom: 2vh;
  }

  .x-info {
    margin-top: 2vh;
  }

  .section-left {
    padding-bottom: 40px;
  }

  .statistics {
    margin-top: 2vh;
  }

  .logo {
    margin-top: 2vh;
  }
}

@media screen and (min-width: 1440px) {
  .general-info {
    max-width: 1200px;
    margin: 0 auto;
  }

  .section-left {
    width: 250px;
  }

  .section-right {
    width: 420px;
  }

  .shota {
    width: 160px;
    right: -22%;
  }
}

@media screen and (min-width: 1920px) {
  .general-info {
    max-width: 1400px;
  }

  .title-titles p {
    font-size: 45px;
  }

  .section-left {
    width: 280px;
  }

  .section-right {
    width: 480px;
  }

  .shota {
    width: 180px;
  }
}
